[Unit]
Description = ada-bot discord bot service
Requires=network.target

[Service]
User=root
WorkingDirectory=/root
ExecStart=/root/go/bin/ada-bot
Restart=always

[Install]
WantedBy=multi-user.target